@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff9f2;
    background-image: url(ressources/images/background4.png);
    background-size: 100%;
}

.navbar {
    background-color: #fabd72;
    display: flex;
    justify-content: space-between;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 100%;
    margin-right: 20px;
}

.nav_links a li img {
    height: 40px;
    width: 40px;
}

.nav_links a {
    text-decoration: none;
}

.icon-box:hover .icon {
    animation-name: shake;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.logo {
    height: 60px;
    width: 60px;
    padding: 10px;
}

.icon-text {
    display: none;
}

.main-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: 'Schoolbell', cursive;
    font-size: 24px;
    font-weight: 1;
    margin-top: 30px;
}

.main-img {
    width: 75%;
    height: 75%;
    display: block;
    margin: auto;
}

.main-text {
    text-align: center;
    margin: 20px 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
    font-size: 16px;
}

@keyframes shake {
    0% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(30deg);
    }
}

@media screen and (min-width: 800px) {
    .nav_links {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-left: 50px;
    }

    .icon-text {
        display: initial;
        align-items: center;
        font-family: 'Schoolbell', cursive;
        font-size: 1.3rem;
        color: #fff9F2;
        margin-left: 15px;
    }

    .icon-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .main-img {
        height: 40%;
        width: 40%;
    }

    .main-container {
        display: flex;
        justify-content: center;
    }

    .main-text {
        width: 90%;
        font-size: 18px;
    }

    .btn-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        justify-content: center;
    }

    .main-title {
        font-size: 30px;
        margin-top: 50px;
    }

    body {
        background-image: url(ressources/images/background4.png);
    }
}

/*Bouton play*/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-action {
    height: 160px;
    width: 160px;
    border: none;
    color: rgb(57, 57, 57);
    font-family: 'Schoolbell', cursive;
    font-size: 28px;
    padding: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

img.icon:hover {
    animation-name: shake;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ping {
    position: absolute;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: none;
    background-color: #fabd72;
    z-index: -1;
    animation: ping 2s ease-in-out infinite both;
}

.btn-rotate {
    position: absolute;
    height: 165px;
    width: 165px;
    border-radius: 50%;
    background: linear-gradient(#ff0000, #ff8f00, #fbeb26, #4fe231, #00b6ff, #7000e8, #ff6df2);
    z-index: -2;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ping {
    0% {
        transform: scale(0.6);
        opacity: 0.9;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}